@font-face {
  font-family: "bauhs93";
  src: url("../font/BAUHS93.ttf");
}
@font-face {
  font-family: "bauhslight";
  src: url("../font/bauhslight.otf");
}
@font-face {
  font-family: "silkscreen";
  src: url("../font/Silkscreen/Silkscreen-Regular.ttf");
}
body {
  display: inline;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1300px;
}

.fa-arrow-turn-down-right {
  color: rgb(0, 78, 37);
}

.contenu {
  max-width: 1300px;
  padding: 0px;
  margin: auto;
  position: relative;
  font-family: arial;
  -webkit-animation-name: contenu;
          animation-name: contenu;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
  z-index: 10;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes contenu {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contenu {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loaderbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation-name: loaderbox;
          animation-name: loaderbox;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 4;
}

@-webkit-keyframes loaderbox {
  0% {
    opacity: 1;
    z-index: 9;
  }
  70% {
    opacity: 1;
    z-index: 9;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

@keyframes loaderbox {
  0% {
    opacity: 1;
    z-index: 9;
  }
  70% {
    opacity: 1;
    z-index: 9;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 9;
}
.loader img {
  width: 20%;
  margin: auto;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    transform: scale(1.9);
  }
  40% {
    transform: scale(1.3);
  }
  70% {
    opacity: 1;
    transform: scale(1.9);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    transform: scale(1.9);
  }
  40% {
    transform: scale(1.3);
  }
  70% {
    opacity: 1;
    transform: scale(1.9);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../image/gradient.jpg);
  margin-top: -40px;
}
header .toplogo {
  font-size: 2.5em;
  font-family: BAUHS93;
  color: white;
  white-space: nowrap;
}
header a {
  text-decoration: none;
}
header .introduction {
  font-family: bauhslight;
  color: white;
  font-size: 1.6em;
  text-align: center;
  width: 60%;
}

h1 {
  text-align: center;
}
h1 img {
  width: 50%;
  max-width: 500px;
}

.navbar {
  width: 100%;
  margin: auto;
  justify-content: space-around;
  color: rgb(13, 103, 47);
  box-shadow: lightgrey 3px 3px 15px;
  border-radius: 10px;
  list-style: none;
  padding: 5px 0px 5px 0px;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
}
.navbar li {
  text-align: center;
  list-style-type: none;
  font-family: "bauhs93";
  font-size: 2.5em;
  border-radius: 5px;
}
.navbar li a {
  color: rgb(0, 78, 37);
  text-decoration: none;
  padding: 5px;
  transition-duration: 300ms;
}
.navbar li a:hover {
  color: white;
  background-color: rgb(0, 78, 37);
  border-radius: 5px;
  padding: 5px;
  transition-duration: 200ms;
}

h2 {
  font-family: bauhs93;
  font-size: 2em;
  color: white;
  background: rgb(0, 78, 37);
  border: double white 10px;
  border-radius: 30px;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.lastactbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0px 50px 0px;
}

.lastact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: lightgray 3px 3px 15px;
  border-radius: 30px;
  width: 45%;
  margin: 15px;
  transition-duration: 200ms;
}
.lastact:hover {
  transform: scale(1.05);
  transition: 200ms ease-in-out;
}
.lastact p {
  text-align: center;
  background-color: rgb(0, 78, 37);
  width: 100%;
  border-radius: 30px 30px 0 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  color: white;
}
.lastact a {
  width: 100%;
}
.lastact a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 0px 30px 30px;
  margin-bottom: -5px;
}

p {
  font-family: arial;
  font-weight: lighter;
  font-size: 1.3em;
  text-align: justify;
  width: 80%;
}

a p {
  font-family: bauhslight;
  font-size: 0.6em;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.insnews {
  font-size: 1.7em;
  text-align: center;
  font-family: bauhslight;
  margin: auto;
  margin-top: 30px;
}
.insnews p {
  margin: auto;
}

.social {
  font-size: 1.6em;
  padding: 15px;
}

video {
  display: flex;
  margin: auto;
  width: 70%;
  border-radius: 20px;
}

.actus a {
  color: white;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

form p {
  text-align: center;
  margin: auto;
  font-family: bauhslight;
}

aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

aside img {
  border-radius: 30px;
  width: 80%;
}

footer {
  background-image: url(../image/gradient.jpg);
  margin-bottom: -59px;
}
footer .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  padding: 20px;
}
footer .social img {
  width: 55px;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  transition-duration: 300ms;
}
footer .social img:hover {
  transform: scale(1.2) rotate(1turn);
  transition: 300ms;
}
footer ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
footer li {
  margin-bottom: 30px;
  list-style: none;
  transition-duration: 300ms;
  font-size: 22px;
}
footer li:hover {
  transform: scale(1.2);
  transition: 300ms;
}
footer a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  header .toplogo {
    font-size: 2.3em;
    font-family: BAUHS93;
    color: white;
    white-space: nowrap;
    width: 100%;
  }
  header a {
    text-decoration: none;
  }
  header .introduction {
    font-family: bauhslight;
    color: white;
    font-size: 1.6em;
    text-align: center;
    width: 90%;
    margin-top: -20px;
  }
  .navbar {
    width: 100%;
    color: rgb(13, 103, 47);
    box-shadow: lightgrey 3px 3px 15px;
    border-radius: 30px;
    list-style: none;
    padding: 5px;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .navbar li {
    text-align: center;
    list-style-type: none;
    font-family: "bauhs93";
    font-size: 2em;
    width: 100%;
    border-radius: 10px;
    transition-duration: 500ms;
  }
  .navbar li a {
    color: rgb(13, 103, 47);
    text-decoration: none;
    width: 100%;
  }
  .navbar li a:hover {
    color: white;
    background-color: rgb(0, 78, 37);
    border-radius: 10px;
    transition-duration: 500ms;
  }
  .lastact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: lightgray 3px 3px 15px;
    border-radius: 30px;
    width: 100%;
    transition-duration: 200ms;
  }
  .lastact:hover {
    transform: scale(1.02);
    transition: 200ms ease-in-out;
  }
  .lastact p {
    text-align: center;
    background-color: rgb(0, 78, 37);
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    color: white;
  }
  .lastact a {
    width: 100%;
  }
  .lastact a img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: -5px;
  }
}/*# sourceMappingURL=style.css.map */